@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    background-color: rgba(169, 196, 197, 0.61);
    color: black;
}
h1 {
    text-shadow: -1px 1px 1px rgb(128, 124, 124);
}
p{
    padding: 20px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    text-align: center;
    height: 35px;
    border-radius: 20px;

}
.imagens {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    
}
button {
    font-size: 15px;
    padding: 3px;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    background-color: rgb(189, 120, 253);
    color: white;
}
#resposta {
    font-size: 30px;
    padding: 5px;
    margin-top: 10px;
    
}